<div class='dad-joke'>
  {{#if this.error}}
    <div>
    Oops!
    </div>
  {{else if this.joke}}
    <div>
    {{this.joke}}
    </div>
  {{else}}
    <div>
    Loading!
    </div>
  {{/if}}
</div>
