<div class='dad-joke'>
  <div>Random word: {{this.randomWord.value}}</div>
  {{#if this.error}}
    <div>
    Oops!
    </div>
  {{else if this.joke.value}}
    <div>
    {{this.joke.value}}
    </div>
  {{else}}
    <div>
    Loading!
    </div>
  {{/if}}
</div>
