<div class='dad-joke'>
  {{#if (not @data)}}
    <div>
      Loading!
    </div>
  {{else if @error}}
    <div>
      Oops!
    </div>
  {{else}}
    <div>
      {{@data.joke}}
    </div>
  {{/if}}
</div>
