<div class='dad-joke'>
  {{#if this.dadJokeService.isLoading}}
    <div>
      Loading!
    </div>
  {{else if this.dadJokeService.hasError}}
    <div>
      Oops!
    </div>
  {{else}}
    <div>
      {{this.joke}}
    </div>
  {{/if}}
</div>
