<div class='dad-joke'>
  {{#if this.isLoading}}
    <div>
      Loading!
    </div>
  {{else if this.hasError}}
    <div>
      Oops!
    </div>
  {{else}}
    <div>
      <button type='button' {{on 'click' this.getAnotherJoke}}>Get a different one!</button>
    </div>
    <div>
      {{this.joke}}
    </div>
  {{/if}}
</div>
