<div class='dad-joke'>
  {{#if this.getRandomWord.isRunning}}
    <div>Working!</div>
  {{/if}}
  {{#if this.data}}
    <div>Random word: {{this.data}}</div>
  {{/if}}
  {{#if this.getRandomWord.last.error}}
    <div>Oopsey Wooopsey! {{this.getRandomWord.last.error}}</div>
  {{/if}}
</div>
